<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ATPlay</title>
        <link rel="stylesheet" href="/static/css/style.css">
        <link rel="icon" type="image/png" href="/static/img/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/static/img/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="/static/img/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/static/img/favicon-16x16.png">
    </head>
    <body>
        <div id="main"><%- markup -%></div>
        <script src="/static/js/bundle.js"></script>
    </body>
</html>