.dice {
    margin: 5px;
    display: inline-block;
}

.small-dice {
    width: 16px;
    height: 16px;
}

.large-dice {
    width: 64px;
    height: 64px;
}

.dice-1 {
    background:url("/static/img/dice-1.svg") center right no-repeat;
}

.dice-2 {
    background:url("/static/img/dice-2.svg") center right no-repeat;
}

.dice-3 {
    background:url("/static/img/dice-3.svg") center right no-repeat;
}

.dice-4 {
    background:url("/static/img/dice-4.svg") center right no-repeat;
}

.dice-5 {
    background:url("/static/img/dice-5.svg") center right no-repeat;
}

.dice-6 {
    background:url("/static/img/dice-6.svg") center right no-repeat;
}

.full-width {
    width: 100%;
}

#footer {
    text-align: center
}